*{
  margin: 0; padding: 0; box-sizing: border-box;
}
:root{
  font-size: 10px;
  --hue: 148;
  --bg-color-one: hsla(var(--hue), 23%, 89%, 1);
  --bg-color-two: hsla(180, 14%, 97%, 1);
  --bg-color-three: hsla(39, 100%, 97%, 1);
  --bg-color-four: hsla(0, 0%, 100%, 1);
  --bg-color-menus: hsla(170, 100%, 26%, 1);
  --bg-box-one: hsla(39, 100%, 97%, 1);
  --font-main: 'DM Sans', sans-serif;
  --font-color-main: hsla(170, 100%, 26%, 1);
  --color-hover: hsla(170, 100%, 14%, 1);
  --font-color-secondary: hsla(210, 11%, 15%, 1);
  --font-color-terciary: hsla(210, 9%, 31%, 1);

}
html{
  scroll-behavior: smooth;
}
/*color BG*/
header::before{
  content: ''; z-index: -1; top: 0; left: 0; position: absolute;
  background: var(--bg-color-one); width: 100%; height: 108rem;
}
main::before{
  content: ''; z-index: -1; top: 108rem; left: 0; position: absolute;
  background: var(--bg-color-two); width: 100%; height: 203rem;
}
main::after{
  content: ''; z-index: -1; top: 311rem; left: 0; position: absolute;
  background: var(--bg-color-three); width: 100%; height: 97rem;
}
section::before{
  content: ''; z-index: -1; top: 408rem; left: 0; position: absolute;
  background: var(--bg-color-four); width: 100%; height: 73.5rem;
}
footer::before{
  content: ''; z-index: -1; top: 485rem; left: 0; position: absolute;
  background: var(--bg-color-menus); width: 100%; height: 28.5rem;
}
body{
  display: flex; flex-direction: column;
  font-family: var(--font-main); width: 100%;
  overflow: overlay;
}


/*header*/
nav button{
  appearance: none; border: none; background: transparent; cursor: pointer;
}
ul{
  list-style: none;
}
nav{
  position: fixed; display: flex; align-items: center; justify-content: space-between;
}
.menu{
  width: 100%; height: 7.2rem;
  justify-content: space-between; align-items: center; display: flex;
  left: 50%; top: 0; padding-inline: 2.4rem; padding-block: 1.6rem;
}
.hide{
  display: none;
}
#navigation{
  transition: all 200ms ease-in-out;
  width: 100%;
}
.scroll{
  background: hsl(170, 100%, 14%);
  width: 100%;
}
.scroll .logo svg path{
  fill: hsl(0, 0%, 100%);
}
.scroll .open-menu svg path{
  stroke: hsl(0, 0%, 100%);
}
/*main*/
main{
  display: flex; flex-direction: column; align-items: center; padding-top: 10rem;
}
h2{
  text-transform: uppercase; display: flex; justify-content: center; align-items: center;
  font-weight: 700; color: var(--font-color-main); font-size: 1.4rem;
}
h2 img{
  width: 1.4rem; height: 1.4rem; margin-left: 6px;
}
main h3, .section-one h3{
  width: 32.7rem; height: 13.2rem; margin-top: 1.6rem;
  font-weight: 700; font-size: 3.4rem; text-align: center; color: var(--font-color-secondary);
}
main p{
  width: 32.7rem; height: 10.8rem; margin-top: 2.4rem;
  font-size: 1.8rem; line-height: 2.7rem; text-align: center; color: var(--font-color-terciary);
}
main button{
  margin-top: 3.2rem; width: 26.3rem; height: 5.2rem; margin-bottom: 6rem;
  background: hsla(170, 100%, 26%, 1); border: none; border-radius: 4rem; padding: 1.6rem 3.2rem;
  transition: all 200ms ease-in-out;
}
main button:hover{
 background: var(--color-hover);
}
.button{
  text-decoration: none; display: flex; align-items: center; gap: 1.6rem;
  font-family: var(--font-main); text-transform: uppercase; font-weight: 700; color: #FFF;
}
.box{
  background: var(--bg-box-one); height: 44rem; width: 32.7rem; border-radius: 6px; border: 1px solid #DCE9E2;
  display: flex; flex-direction: column; align-items: center;
}
.content-big-box h2{
  font-weight: 700; font-size: 4.8rem; line-height: 6.2rem; color: var(--font-color-secondary);
  margin-bottom: 4px; margin-top: 4rem;
}
.content-big-box span{
  font-size: 1.6rem; line-height: 2.4rem; color: var(--font-color-main);
}
.content-big-box{
  display: flex; flex-direction: column; align-items: center;  width: 18.3rem; height: 39rem;
}

/*section one*/
.section-one{
  display: flex; flex-direction: column; align-items: center;
}
.section-one h2{
  margin-top: 12rem;
}
.section-one h3{
  margin-bottom: 6rem;
}
.mini-box{
  margin-bottom: 3.2rem;
  background: var(--bg-color-four); width: 32.7rem; height: 20.7rem; border-radius: 6px; border: 1px solid #DCE9E2;
}
.content-mini-box{
  padding: 2.4rem;
}
.mini-box h4{
  margin-top: 1.2rem; margin-bottom: 1.2rem;
  font-weight: 700; font-size: 2.4rem; line-height: 3.1rem; color: var(--font-color-secondary);
}
.mini-box h5{
  margin-top: 1.2rem; margin-bottom: 1.2rem;
  font-weight: 700; font-size: 2.3rem; line-height: 3.1rem; color: var(--font-color-secondary);
}
.mini-box p{
  font-size: 1.5rem; line-height: 2.4rem;
}

/*section two*/
.section-two{
  display: flex; flex-direction: column; padding-inline: 2.4rem;
}
.section-two h2{
  justify-content: left; margin-top: 4rem;
}
.section-two h3{
  font-weight: 700; font-size: 3.4rem; color: var(--font-color-secondary); margin-top: 1.6rem;
}
.section-two p{
  font-size: 1.8rem; line-height: 2.7rem; margin-top: 2.4rem; color: var(--font-color-secondary);
}
.section-two img{
  margin-top: 6rem; width: fit-content; align-self: center;
}

/*section three*/
.section-three{
  display: flex; flex-direction: column; padding-left: 2.3rem; padding-right: 2.4rem; align-items: center;
  padding-top: 8rem;
}
.section-three h3{
  width: 29.7rem; height: 7.8rem;
  font-weight: 700; font-size: 3rem; line-height: 3.9rem; color: var(--font-color-secondary); margin-top: 16rem;
}
.section-three .location{
  display: flex; margin-top: 3.2rem; gap: 8px;
}
.section-three .location p, .section-three .mail p{
  font-size: 1.6rem; line-height: 2.4rem;
}
.section-three .location a, .section-three .mail a{
  text-decoration: none; color: var(--font-color-secondary);
}
.section-three .mail{
  display: flex; margin-top: 1.6rem; gap: 8px;
}
.section-three button{
  margin-top: 3.2rem; width: 26.3rem; height: 5.2rem; margin-bottom: 6rem; align-self: center;
  background: hsla(170, 100%, 26%, 1); border: none; border-radius: 4rem; padding: 1.6rem 3.2rem;
  transition: all 200ms ease-in-out;
}
.section-three button:hover{
  background: var(--color-hover);
  transform: scale(1.04);
 }
/*Footer*/
footer{
  width: 28rem; height: 16.5rem; padding: 6rem 2.4rem; margin-top: 16rem;
}
.copyright{
  margin-top: 2.4rem; font-size: 1.6rem; line-height: 2.1rem; color: var(--bg-color-three);
}
.direitos{
  margin-top: 1.2rem; font-size: 1.6rem; line-height: 2.1rem; color: var(--bg-color-three);
}
.social-medias{
  margin-top: 3.2rem; display: flex; gap: 3.2rem;
}
/*MENU*/
body.menu-expanded > :not(nav){
  display: none;
}
.main-menu{
  transform: translateX(100%);
}
.menu-expanded .main-menu{
  transition: transform 300ms ease-in-out;
  transform: translateX(0);
}
.main-menu, .close-menu{
  opacity: 0; visibility: hidden;
}
.menu-expanded .main-menu, .menu-expanded .close-menu{
  opacity: 1; visibility: visible;
}
.menu-expanded .main-menu{
  position: fixed; top: 0; left: 0; width: 100vw; height: 100vh;
  background: var(--font-color-main);
  align-items: center; display: flex; flex-direction: column;
}
.menu-expanded .open-menu{
  visibility: hidden; opacity: 0;
}
.menu-expanded nav{
  position: relative;
}
.menu-itens{
  display: flex; flex-direction: column; gap: 4.8rem; margin-top: 12rem;
  text-align: center; font-size: 2.4rem; line-height: 3.1rem;
}
.menu-expanded .logo, .menu-expanded .close-menu{
  position: relative; z-index: 2;
}
.menu-expanded .logo path{
 fill: hsl(0, 0%, 100%);
}
.main-menu li{
  transition: all 200ms ease-in-out;
}
.menu-itens li:hover{
  transform: scale(1.04);
}
.main-menu a{
  text-decoration: none; color: #FFFAF1;
}
.consult{
  margin-top: 6.4rem; margin-bottom: 9.6rem;
  background: hsl(0, 0%, 100%); border: none; border-radius: 4rem; padding: 1.6rem 3.2rem;
  font-weight: 700; text-transform: uppercase; color: var(--font-color-main);
  transition: all 200ms ease-in-out;
}
.consult:hover{
  transform: scale(1.04);
}
.social-links{
  gap: 3.2rem; display: flex; align-items: center; justify-content: center;
}
nav.scroll.social-links svg path{
  fill: none;
}